<!--<p-toolbar *ngIf="isLoggedIn$ | async as isLoggedIn">
    <div class="ui-toolbar-group-left">
        Bienvenido Usuario XXX
    </div>
-->


<!--<div class="ui-toolbar-group-right">
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <button #btn type="button" pButton icon="pi pi-bars" label="M e n u" (click)="menu.toggle($event)"></button>
    </div>-->
<!--</p-toolbar>-->

<!--<div *ngIf="isLoggedIn$ | async as isLoggedIn">-->
<!--<div class="app">-->
<app-layout [menus]="menu$ | async" [title]="'Facturación Electrónica'" [sesion]="sesion$ | async" (itemClick)="onItemClick($event)">
    <div class="container">
        <router-outlet></router-outlet>
    </div>


    <!--<div style="padding:20px">
            <div *ngIf="selectedMenu">
                <router-outlet></router-outlet>
            </div>
        </div>-->
</app-layout>
<!--</div>-->
<!--<footer>
        This is the footer
    </footer>-->
<!--</div>-->


<div class="footer" #footer>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxFlex class="total">
            <div flex>Subtotal</div>
            <div flex>$ 150.00</div>
        </div>
        <div fxLayout="column" fxFlex class="total">
            <div flex>Descuento</div>
            <div flex>$ 0.00</div>
        </div>
        <div fxLayout="column" fxFlex class="total">
            <div flex>Iva</div>
            <div flex>$ 10.00</div>
        </div>
        <div fxLayout="column" fxFlex class="total">
            <div flex>Total</div>
            <div flex>$ 160.00</div>
        </div>
    </div>
</div>



<!--
<div class="container">
    <router-outlet></router-outlet>
</div>
-->
<!--
<div class="app">
    <header>
        Header here
    </header>
    Content isn't long enough to push footer to the bottom.
    <footer>
        This is the footer
    </footer>
</div>
-->