<p-dialog [(visible)]="displayMensaje" [responsive]="true" showEffect="fade" [modal]="true"
  styleClass="tipoMensaje==='OK' ? my-panel-ok: my-panel ">
  <p-header>
    {{ title }}
  </p-header>
  {{errorMsg}}
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <!-- <button pButton type="button" label="Ok" (click)="displayMensaje=false" class="ui-button-danger"></button>-->
      <button pButton type="button" label="Ok" (click)="displayMensaje=false"
        class="tipoMensaje==='OK' ? ui-button-primary: ui-button-danger"></button>
    </div>
  </p-footer>
</p-dialog>