<div class="center-login mt-4">
  <p-panel header="Login" styleClass="my-panel">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="ui-float-label mt-3">
        <input id="float-input" type="text" size="30" pInputText class="ng-dirty ng-invalid"
          formControlName="txtUsuario">
        <label for="float-input">Username</label>

      </div>
      <div class="mt-1">
        <p-message severity="error" text="El campo es obligatorio"
          *ngIf="loginForm.controls['txtUsuario'].invalid&&loginForm.controls['txtUsuario'].dirty">
        </p-message>
      </div>

      <div class="ui-float-label mt-4">
        <input id="float-input2" type="password" size="30" pInputText class="ng-dirty ng-invalid"
          formControlName="txtClave">
        <label for="float-input2">Password</label>

      </div>
      <div class="mt-1">
        <p-message severity="error" text="El campo es obligatorio"
          *ngIf="loginForm.controls['txtClave'].invalid&&loginForm.controls['txtClave'].dirty">
        </p-message>
      </div>
      <div class="mt-4">
        <p-checkbox formControlName="chkRecordar" label="Recordar sesión" binary="true"></p-checkbox>
      </div>

      <div class="mt-3">
        <button pButton type="submit" label="Aceptar" [disabled]="!loginForm.valid" class="btn btn-block"></button>
      </div>
    </form>
  </p-panel>
</div>

<!--
<p-dialog [(visible)]="displayError" [responsive]="true" showEffect="fade" [modal]="true" styleClass="my-panel">
  <p-header>
    Mensaje del Sistema
  </p-header>
  {{errorMsg}}
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" label="Ok" class="ui-button-danger"></button>
    </div>
  </p-footer>
</p-dialog>-->

<app-mensaje-generico *ngIf="displayError"></app-mensaje-generico>