<div class=" p-grid mt-4">
  <div class="p-col-3">
  </div>

  <div class="p-col-6">
    <p-table #dt [columns]="cols" [value]="perfiles" [responsive]="true" [paginator]="true" [rows]="3" [lazy]="true"
      [totalRecords]="totalRecords$  | async" (onLazyLoad)="loadLazy($event)" [(first)]="first">

      <ng-template pTemplate="caption">
        Mantenimiento de Perfiles
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [ngStyle]="{'width': col.width, 'display': col.display}"
            [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
              ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </th>
          <th [ngStyle]="{'width':'10%'}"></th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <input *ngSwitchCase="'id_perfil'" pInputText type="text"
              (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

            <input *ngSwitchCase="'descripcion_perfil'" pInputText type="text"
              (input)="dt.filter($event.target.value, col.field, col.filterMatchMode);reset();">

            <p-dropdown *ngSwitchCase="'estado_perfil'" [options]="estados" [style]="{'width':'100%'}"
              (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)" styleClass="ui-column-filter">
            </p-dropdown>

            <p-multiSelect *ngSwitchCase="'descripcion_estado_perfil'" [options]="grades" [style]="{'width':'100%'}"
              defaultLabel="TODOS" (onChange)="dt.filter($event.value, col.field, col.filterMatchMode)"></p-multiSelect>
            <!--(onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>            -->

          </th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-perfil let-columns="columns">
        <!--<tr [pSelectableRow]="perfil" [ngClass]="perfil['estado_perfil']=='A' ? 'old-car' : null">-->
        <tr [pSelectableRow]="perfil">
          <td *ngFor="let col of columns" [ngStyle]="{'display': col.display}">
            <span *ngIf="col.field!=='estado_perfil'">
              {{perfil[col.field]}}
            </span>

            <span *ngIf="col.field=='estado_perfil'">
              <div span [style.color]="'Green'" *ngIf="perfil['estado_perfil']=='A'">
                {{perfil['descripcion_estado_perfil']}}
              </div>
              <div span [style.color]="'Red'" *ngIf="perfil['estado_perfil']=='I'">
                {{perfil['descripcion_estado_perfil']}}
              </div>
            </span>
          </td>
          <td><button type="button" pButton icon="pi pi-pencil" (click)="modificarRegistro(perfil)"></button></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-perfil>
        <div style="text-align:left">
          <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
      </ng-template>
    </p-table>

  </div>

  <div class="p-col-3">
  </div>
</div>

<p-dialog header="Mantenimiento de Perfil" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
  [modal]="true" [style]="{width: '500px'}">
  <div class="p-grid">
    <div class="p-col-3">
      <label for="id_perfil">Código</label>
    </div>
    <div class="p-col-9">
      <input pInputText id="id_perfil" [(ngModel)]="perfil.id_perfil" [disabled]="disabled" />
    </div>

    <div class="p-col-3">
      <label for="descripcion_perfil">Descripcion</label>
    </div>
    <div class="p-col-9">
      <input pInputText id="descripcion_perfil" [(ngModel)]="perfil.descripcion_perfil" />
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"
        [(hidden)]="displayButtonDelete"></button>
      <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

<app-mensaje-generico *ngIf="displayMensaje" [title]="title" [tipoMensaje]="tipoMensaje" [errorMsg]="errorMsg">
</app-mensaje-generico>